body {
    font-family: sans-serif;
    margin: 0;
    padding: 20px;
}
.birthday-card {
    position: relative;
    display: flex;
    height: calc(100vh - 40px);
    background: #FCCDCF;
    overflow: hidden;
}
#world {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;    
}
.card-content {
    position: relative;
    z-index: 2;
    margin: auto;
    text-align: center;
}
.devs {
    font-size: 25px;
    font-family: monospace;    
}
h1 {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 40px;
}
 .waho-cat {
     position: absolute;
     bottom: 0px; 
     left: 0;
     /* animation-name: upanddown;
     animation-iteration-count:  */
     animation: upanddown 3s infinite;
 }

 .waho-cat-bis img {
     transform: rotate(180deg);
 }

 .waho-cat-bis {
    position: absolute;
     top: 0px; 
     right: 0;     
     animation: downandup 3s infinite; 
 }

 .waho-cat img, .waho-cat-bis img {
     width: 400px;
 }

 .rotate-cat img, .ugly-cat img {
     width: 300px;
 }

 .rotate-cat {
    position: absolute;
    left: 0;
    top: 0;
    animation: rotating 2s linear infinite;
 }

 .ugly-cat {
     position: absolute;
     right: 0;
     bottom: 0;
     animation: scale 1s linear infinite alternate;
 }
 @keyframes upanddown {
     0% {
         bottom: -400px;
     }
     50% {
         bottom: 0;
     }
     100% {
        bottom: -400px;
    }
 }

 @keyframes downandup {
    0% {
        top: -400px;
    }
    50% {
        top: 0;
    }
    100% {
       top: -400px;
   }
}

@keyframes rotating {
    from {      
      transform: rotate(0deg);
    }
    to {      
      transform: rotate(360deg);
    }
}

@keyframes scale {
    from {      
        transform: scale(0.5);
    }
    to {      
        transform: scale(1);
    }
}